h4 {
     color:white;
     font-family: 'Open Sans', sans-serif;
     font-size:30px
     
}
body{
    background-color: gray;
}

a {
    color:white;
    text-decoration:none;
    text-align:center;
    font-size:12px
}
p  {
    color:white;
          font-family: 'Open Sans', sans-serif;
     font-size:20px
}

































"http://38.media.tumblr.com/tumblr_lx078mSk4d1r9ofpfo1_250.gif">    




