h1{
      font-family: 'Open Sans', sans-serif;
    color:white;
    font-size:30px
}
        
        
        
a {
    color:white;
    text-decoration:none;
    text-align:center;
    a-size:40px
}

p{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:50px
}


p {
  text-align:center;
}
h2 {
     font-family: 'Open Sans', sans-serif;
}


