header {
    color:white;
    font-size:36px;
font-family: 'Open Sans', sans-serif;
  
}

body{
    background-color:brown;
}

a {
    display:block;
    color:white;
   font-family: 'Open Sans', sans-serif;
     text-decoration:none;
     
}

a:hover {
    color:aqua;
}








p {
    color:white;
   font-family: 'Open Sans', sans-serif;
    font-size:16px
}

h1 {
    color:white;
   font-family: 'Open Sans', sans-serif;
    font-size:30px
}

h2 {
    font-size:50px
    font-color:white;
}

h4 {
    font-family: courier;
    color:white;
    font-size:16px
}

img {
    display:block;
    max-width:65%
    
}

ORGINALLY WHITE

ORGINAL HEADER  COLOR #93B8B8;

<div align="bottom-left">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A51UseDByqDUbRDQeRWqmhm" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> </div>
    
    
    
    
    
    ORGINAL BG http://cdn.playbuzz.com/cdn/36a7fd1c-79f9-4f6b-83d9-49c50c1924ab/ee36bb81-54e0-4467-bbf8-b9dc0c1d1b5f.jpg">
        